@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
    --ash-color: rgba(243, 243, 243, 0.95);
    --black: #121212;
    --code-nomads-green: #0FFF50;
    --gray-text: #848484;
    --gray-30-percent: rgba(132, 132, 132, 0.30);
    --shade-black:#080D1F;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}